<ul>
  <li><p><a href="{{ url }}{{ baseurl }}{{nav['/'][lang].path}}">{{nav['/'][lang].name}}</a></p></li>
  <li><p><a href="{{ url }}{{ baseurl }}{{nav['/create'][lang].path}}">{{nav['/create'][lang].name}}</a></p></li>
  <li><p><a href="{{ url }}{{ baseurl }}{{nav['/features'][lang].path}}">{{nav['/features'][lang].name}}</a></p></li>
  <li><p><a href="{{ url }}{{ baseurl }}{{nav['/pro'][lang].path}}">{{nav['/pro'][lang].name}}</a></p></li>
  <li><p><a href="{{ url }}{{ baseurl }}{{nav['/community'][lang].path}}">{{nav['/community'][lang].name}}</a></p></li>
</ul>
