<ul>
  <li><p><a href="{{nav['/'][lang].path}}">{{nav['/'][lang].name}}</a></p></li>
  <li><p><a href="{{nav['/create'][lang].path}}">{{nav['/create'][lang].name}}</a></p></li>
  <li><p><a href="{{nav['/features'][lang].path}}">{{nav['/features'][lang].name}}</a></p></li>
  <li><p><a href="{{nav['/pro'][lang].path}}">{{nav['/pro'][lang].name}}</a></p></li>
  <li><p><a href="{{nav['/community'][lang].path}}">{{nav['/community'][lang].name}}</a></p></li>
</ul>
